* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: url('./fondo-21d.jpg');*/

    text-align: center;

    background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
min-height: 100vh;
  width: 100%; 
}

.app {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 35px 90px 40px 20px 20px 30px 20px 20px;
    gap: 8px;
    margin: 50px auto;
    width: 300px;
    height: 400px;
    color: white;
    background-image: linear-gradient(to top, #02304b, #031724);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 8px;
}

.card__title {
    font-size: 1.2em;
    margin-top: 20px;
}

.card_name {
    font-size: 1.5em;
}

.img__weather {
    width: 120px;
    height: 90px;
    
}


.card__description {
    color: aqua;
    font-size: 1.1em;
}

.card__data {
    color: aqua;
    font-size: 0.9em;
}

.card__temp{
    color: aqua;
    font-size: 1.3em; 
    font-weight: bold;
}

.card__button {
    padding: 6px 20px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
}
.card__button:hover {
    font-size: 1.1em;
    background: lightslategrey;
    color: white;
    border: none;
}

.loading {
    color: black;
    font-size: 2em;
    margin-top: 10px;
}

.loading__img {
    width: 400px;
    height: 200px;
}